<script setup lang="ts">
import { ref } from "vue"
import { VgSelect, VgOption } from "../src/lib"

const test = ref("")
</script>

<template>
	<VgSelect v-model="test">
		<VgOption value="one"> one </VgOption>
		<VgOption value="two"> two </VgOption>
		<VgOption value="three"> three </VgOption>
	</VgSelect>
</template>

<style scoped></style>
