<script setup lang="ts">
import { onUnmounted } from "vue"

type Timeout = ReturnType<typeof setTimeout>

const props = defineProps({
	delay: {
		type: Number,
		default: 400,
		validator(n: number) {
			return Number.isFinite(n) && n > 0
		},
	},
	speed: {
		type: Number,
		default: 100,
		validator(n: number) {
			return Number.isFinite(n) && n > 0
		},
	},
})

const emit = defineEmits<{
	(e: "repeat"): void
}>()

let timeoutId: Timeout, intervalId: Timeout

function md() {
	timeoutId = setTimeout(() => {
		intervalId = setInterval(() => {
			emit("repeat")
		}, props.speed)
	}, props.delay)
}
function mu() {
	clearTimeout(timeoutId)
	clearInterval(intervalId)
}

window.addEventListener("mouseup", mu)

onUnmounted(() => {
	window.removeEventListener("mouseup", mu)
})
</script>

<template>
	<button type="button" @mousedown="md">
		<slot></slot>
	</button>
</template>
