<script setup lang="ts">
import { computed, useAttrs, PropType, useTemplateRef } from "vue"
import { useDropZone } from "@vueuse/core"
import { VgInputFiles } from "../lib"

const props = defineProps({
	modelValue: {
		type: Array as PropType<File[]>,
		default: () => [],
		validator(files: File[]) {
			return files.every(f => f instanceof File)
		},
	},
})
const emit = defineEmits<{
	(e: "update:modelValue", value: File[]): void
	(e: "error", error: Error): void
}>()

const model = computed({
	get() {
		return props.modelValue
	},
	set(files: File[]) {
		emit("update:modelValue", files)
	},
})

// TODO remove cast when vue-tsc wil be fix
const attrs = useAttrs() as import("vue").SetupContext["attrs"]
const dropZoneRef = useTemplateRef("dropZoneRef")

function onDrop(files: File[] | null) {
	if (files) {
		model.value = files
	} else {
		emit("error", new Error("drop event failed"))
	}
}
useDropZone(dropZoneRef, onDrop)
</script>

<template>
	<div ref="dropZoneRef" class="vg-zone">
		<slot></slot>
		<VgInputFiles v-bind="attrs" v-model="model" class="vg-field" />
	</div>
</template>

<style scoped>
.vg-zone {
	position: relative;
}
.vg-field {
	opacity: 0;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}
</style>
