<script setup lang="ts">
import { ref, computed } from "vue"
import { useField } from "@gurso/vue-use-form"

const props = defineProps({
	modelValue: {
		type: Date,
	},
	time: Boolean,
})
const emit = defineEmits<{
	(e: "update:modelValue", value: Date): void
	(e: "error"): void
}>()

const type = computed(() => (props.time ? "datetime-local" : "date"))

function fixStringNumber(n: number, minLength = 1) {
	return "0".repeat(minLength - n.toString().length) + n
}

const model = computed({
	get() {
		if (!props.modelValue) return ""
		return `${props.modelValue.getFullYear()}-${fixStringNumber(props.modelValue.getMonth() + 1, 2)}-${fixStringNumber(
			props.modelValue.getDate(),
			2,
		)}`
	},
	set(v: string) {
		const d = new Date(v)
		if (Number.isFinite(d.valueOf())) emit("update:modelValue", d)
		else emit("error")
	},
})

const field = ref<HTMLInputElement>()

defineExpose(useField({ field, model }))
</script>
<template><input ref="field" v-model="model" :type="type" /></template>
