<script setup lang="ts">
import { ref } from "vue"
import { useField } from "@gurso/vue-use-form"

const model = defineModel<number | `${number}`>({ required: true })

const field = ref<HTMLInputElement>()
const exposed = useField({ field, model })
defineExpose(exposed)
</script>

<template>
	<input ref="field" v-model.number="model" type="range" />
</template>
