<script setup lang="ts">
import { ref, computed } from "vue"
import { useField } from "@gurso/vue-use-form"

// eslint-disable-next-line @typescript-eslint/no-explicit-any
type Props = { modelValue: unknown; value?: unknown; trueValue?: any; falseValue?: any }
const props = withDefaults(defineProps<Props>(), { trueValue: true, falseValue: false })
const emit = defineEmits<{
	(e: "update:modelValue", value: unknown): void
}>()

const model = computed({
	get() {
		return props.trueValue ? props.modelValue === props.trueValue : props.modelValue
	},
	set(v: unknown) {
		if (Array.isArray(props.modelValue)) {
			if (props.modelValue.includes(props.value))
				emit(
					"update:modelValue",
					props.modelValue.filter(it => it !== props.value),
				)
			else emit("update:modelValue", props.modelValue.concat(props.value))
		} else {
			emit("update:modelValue", (props.value ?? v) ? props.trueValue : props.falseValue)
		}
	},
})

const field = ref<HTMLInputElement>()

defineExpose(useField({ field, model }))
</script>

<template>
	<input ref="field" v-model="model" type="checkbox" />
</template>
