<script setup lang="ts">
import { ref, computed } from "vue"
import { useField } from "@gurso/vue-use-form"

const props = defineProps({
	modelValue: {
		type: String,
		default: "",
	},
	step: {
		type: Number,
		default: 1,
	},
})
const emit = defineEmits<{
	(e: "update:modelValue", value: string): void
}>()
const model = computed({
	get() {
		return props.modelValue
	},
	set(v: string) {
		emit("update:modelValue", v)
	},
})

function fixStringNumber(n: number, minLength = 1) {
	return "0".repeat(minLength - n.toString().length) + n
}

async function onBlur() {
	const [hour = 0, minute = 0, second] = model.value
		.split(":")
		.map(Number)
		.map(n => n ?? 0)
	const sumSecond = (hour * 60 + minute) * 60 + (second ?? 0)
	if (sumSecond % props.step !== 0) {
		const clothestFloor = sumSecond - (sumSecond % props.step)
		const clothestCeil = clothestFloor + props.step
		const clothest = sumSecond - clothestFloor < clothestCeil - sumSecond ? clothestFloor : clothestCeil
		const s = clothest % 60
		const m = (clothest % 3600) / 60
		const h = Math.floor(clothest / 3600)
		const secStr = Number.isFinite(second) ? ":" + fixStringNumber(s, 2) : ""
		model.value = fixStringNumber(h, 2) + ":" + fixStringNumber(m, 2) + secStr
	}
}

const field = ref<HTMLInputElement>()

defineExpose(useField({ field, model }))
</script>

<template><input ref="field" v-model="model" type="time" :step="step" @blur="onBlur" /></template>
