<script setup lang="ts">
import { ref, PropType, watch } from "vue"
import { useField } from "@gurso/vue-use-form"

const props = defineProps({
	modelValue: {
		type: Array as PropType<File[]>,
		default: () => [],
		validator(files: File[]) {
			return files.every(f => f instanceof File)
		},
	},
})
const emit = defineEmits<{
	(e: "update:modelValue", value: File[]): void
}>()

const field = ref()
useField({ field })

watch(
	() => props.modelValue,
	files => {
		const dT = new DataTransfer()
		for (const file of files) {
			dT.items.add(file)
		}
		field.value.files = dT.files
	},
)

function onChange(e: Event) {
	const target = e.target as HTMLInputElement
	const files = Array.from(target.files ?? [])
	emit("update:modelValue", files)
}
</script>

<template><input ref="field" type="file" @change="onChange" /></template>
