<script setup lang="ts">
import { useField } from "@gurso/vue-use-form"
import { computed, onUnmounted, ref, watchEffect } from "vue"
import { list as sList } from "./VgList.k"

const props = defineProps({
	modelValue: {
		type: String,
		default: "",
	},
	list: {
		type: Symbol,
		default: Symbol(),
	},
})
const emit = defineEmits<{
	(e: "update:modelValue", value: string): void
}>()
const model = computed({
	get() {
		return props.modelValue
	},
	set(v: string) {
		emit("update:modelValue", v)
	},
})

const field = ref<HTMLInputElement>()

defineExpose(useField({ field, model }))

watchEffect(() => {
	sList.set(props.list, model.value)
})

onUnmounted(() => {
	sList.delete(props.list)
})
</script>

<template>
	<input ref="field" v-model="model" type="text" />
</template>
