<script setup lang="ts" generic="T">
import { computed, provide, reactive, ref, shallowReadonly, shallowRef } from "vue"
import { kModel, kOptions, kSelected, kTarget, kDisabled, kProps, Exposed, Option } from "./VgList.k"

type Props = {
	modelValue?: T
	disabled?: boolean
	multiple?: boolean
	id?: symbol
}
const props = withDefaults(defineProps<Props>(), { id: Symbol() })

const emit = defineEmits<{
	(e: "update:modelValue", value: T | undefined): void
}>()

const model = computed({
	get() {
		return props.modelValue
	},
	set(v: T | undefined) {
		emit("update:modelValue", v)
	},
})
const options: Option<T>[] = reactive([])
const selected = shallowRef<Option<T>[]>([])
const target = ref<Option<T>>()
const disabled = computed(() => props.disabled)
provide(kDisabled, disabled)
provide(kOptions, options)
provide(kSelected, selected)
provide(kModel, model)
provide(kTarget, target)
provide(kProps, props)

function select() {
	if (target.value) {
		if (props.multiple) {
			if (selected.value.some(s => s.id === target.value?.id)) {
				selected.value = selected.value.filter(s => s.id !== target.value?.id)
			} else {
				selected.value.push(target.value)
			}
		} else {
			selected.value = [target.value]
			model.value = selected.value[0]?.value
		}
	}
	// else {
	// 	selected.value = []
	// }
}

const dom = ref<HTMLUListElement>()

function move(reverse?: boolean) {
	const arr = Array.from(dom.value!.querySelectorAll("li[data-vg-i]")) as HTMLElement[]
	if (reverse) arr.reverse()
	const targetIndex = options.findIndex(opt => opt.id === target.value?.id)
	const targetEl = dom.value!.querySelector(`li[data-vg-i="${targetIndex}"]`) as HTMLElement
	// const targetEl = dom.value!.querySelector(`li[data-vg-i].disabled`) as HTMLElement
	const targetI = arr.indexOf(targetEl)
	let i = targetI + 1,
		j = 0
	while (i !== targetI) {
		i = i % arr.length
		const el = arr[i]!
		if (!el.classList.contains("disabled")) {
			j = Number(el.dataset.vgI)
			break
		}
		i++
	}
	return j
}
function previous() {
	const i = move(true)
	const r = options.at(i % options.length)
	target.value = r
}
function next() {
	const i = move(false)
	const r = options.at(i % options.length)
	target.value = r
}

defineExpose<Exposed<T>>({ previous, next, select, options: shallowReadonly(options), target })
</script>

<template>
	<ul ref="dom" @click.stop>
		<slot></slot>
	</ul>
</template>

<style scoped></style>
