<script setup lang="ts">
import { computed, provide } from "vue"
import { strictInject } from "../mods/strict"
import { kDisabled } from "./VgList.k"

const props = defineProps({
	label: String,
	disabled: Boolean,
})
const parentDisabled = strictInject(kDisabled)
const disabled = computed(() => props.disabled || parentDisabled.value)
provide(kDisabled, disabled)
</script>

<template>
	<li>
		<slot name="label">
			<span class="vg-label">{{ label }}</span>
		</slot>
		<ul class="vg-optgroup">
			<slot></slot>
		</ul>
	</li>
</template>

<style scoped>
li {
	list-style-type: none;
}
.vg-optgroup {
	padding-left: 16px;
}
</style>
