<script setup lang="ts" generic="T">
import { computed, onMounted, onUnmounted, ref, watch } from "vue"
import { strictInject } from "../mods/strict"
import { kDisabled, kModel, kOptions, kSelected, kTarget, kProps, list } from "./VgList.k"

type Props = {
	value?: T
	disabled?: boolean
}
const props = defineProps<Props>()

const dtlProps = strictInject(kProps)
const target = strictInject(kTarget)
const options = strictInject(kOptions)
const selected = strictInject(kSelected)
const model = strictInject(kModel)
const parentDisabled = strictInject(kDisabled)
const id = Symbol()
const i = ref(-1)

const option = computed(() => options.find(opt => opt.id === id))
const disabled = computed(() => props.disabled || parentDisabled.value)
const isSelected = computed(() => selected.value.some(s => s.id === id))
const isTarget = computed(() => target.value?.id === id)
const isNotHidden = computed(() => {
	return !list.has(dtlProps.id) || (typeof props.value === "string" && props.value.includes(list.get(dtlProps.id)!))
})

function select() {
	if (!disabled.value) {
		target.value = option.value
		if (dtlProps.multiple) {
			if (isSelected.value) {
				selected.value = selected.value.filter(s => s.id !== id)
			} else if (option.value) selected.value.push(option.value)
			model.value = selected.value.map(({ value }) => value)
		} else if (option.value) {
			selected.value = [option.value]
			model.value = option.value.value
		}
	}
}

watch(
	() => props.value,
	v => {
		if (option.value) option.value.value = v
	},
	{ immediate: true },
)

watch(
	disabled,
	d => {
		if (option.value) option.value.disabled = d
	},
	{ immediate: true },
)

onMounted(() => {
	const { value } = props
	i.value = options.push({ id, value, disabled: disabled.value }) - 1
})
onUnmounted(() => {
	if (i.value >= 0) options.splice(i.value, 1)
})
</script>

<template>
	<li v-if="isNotHidden" ref="opt" class="vg-option" :data-vg-i="i" @click="select">
		<slot :is-selected="isSelected" :is-target="isTarget" :disabled="disabled"></slot>
	</li>
</template>

<style scoped>
.vg-option {
	list-style-type: none;
}
</style>
