<script setup lang="ts">
import { ref } from "vue"
import { useField } from "@gurso/vue-use-form"

const model = defineModel<unknown>()

const field = ref<HTMLInputElement>()

defineExpose(useField({ field, model }))
</script>

<template><input ref="field" v-model="model" type="radio" /></template>
