<script setup lang="ts">
import { ref } from "vue"
import { useField } from "@gurso/vue-use-form"

type Props = { name: string; value: unknown; disabled?: boolean }
defineProps<Props>()
const model = defineModel<unknown>()

const field = ref<HTMLInputElement>()

defineExpose(useField({ field, model }))
</script>

<template>
	<label>
		<slot :value="model"></slot>
		<input ref="field" v-model="model" type="radio" :disabled="disabled" :name="name" :value="value" />
	</label>
</template>

<style scoped>
input {
	position: absolute;
	z-index: -10;
	opacity: 0;
	pointer-events: none;
}
</style>
