<script setup lang="ts" generic="T">
import { computed, ref } from "vue"
import { Exposed } from "./VgList.k"
import VgList from "./VgList.vue"

type Props = {
	modelValue?: T
	disabled?: boolean
	multiple?: boolean
}
const props = defineProps<Props>()
const emit = defineEmits<{
	(e: "update:modelValue", value: T | undefined): void
}>()

const model = computed({
	get() {
		return props.modelValue
	},
	set(v: T | undefined) {
		emit("update:modelValue", v)
	},
})
const opened = ref(false)

function close() {
	opened.value = false
}
function open() {
	opened.value = true
}
function toggle() {
	opened.value = !opened.value
}

function select() {
	datalist.value?.select()
	close()
}

function change() {
	if (!props.multiple) close()
}

const datalist = ref<Exposed>()
function previous() {
	datalist.value?.previous()
	if (!opened.value) datalist.value?.select()
}
function next() {
	datalist.value?.next()
	if (!opened.value) datalist.value?.select()
}

function onTab(e: KeyboardEvent) {
	if (opened.value) {
		e.preventDefault()
		opened.value = false
	}
}
</script>

<template>
	<div
		tabindex="0"
		class="vg-select"
		:class="{ disabled }"
		@click="toggle"
		@blur="close"
		@keydown.tab="onTab"
		@keydown.down.prevent.stop="next"
		@keydown.up.prevent.stop="previous"
		@keydown.enter.prevent.stop="select"
		@keydown.space.prevent.stop="open"
	>
		<slot name="title">
			<span> {{ model }} </span>
		</slot>
		<VgList
			v-show="opened"
			ref="datalist"
			v-model="model"
			class="vg-select-list"
			:multiple="multiple"
			:disabled="disabled"
			@update:model-value="change"
		>
			<slot></slot>
		</VgList>
	</div>
</template>

<style scoped>
.vg-select {
	position: relative;
	display: inline-block;
}
.vg-select-list {
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	min-width: 100%;
	background-color: #fff;
}
</style>
