<script setup lang="ts">
import { ref, computed } from "vue"
import { useField } from "@gurso/vue-use-form"

const props = defineProps({
	modelValue: {
		type: Boolean,
	},
	id: String,
})
const emit = defineEmits<{
	(e: "update:modelValue", value: boolean): void
}>()
const model = computed({
	get() {
		return props.modelValue
	},
	set(v: boolean) {
		emit("update:modelValue", v)
	},
})

const field = ref<HTMLInputElement>()

defineExpose(useField({ field, model }))
</script>

<template>
	<div>
		<input :id="id" ref="field" v-model="model" type="checkbox" />
		<slot>
			<span></span>
		</slot>
	</div>
</template>

<style scoped>
div {
	width: 32px;
	aspect-ratio: 2 / 1;
	border-radius: 1000px;
	background-color: grey;
	position: relative;
}
input {
	appearance: none;
	margin: 0;
	position: absolute;
	inset: 0;
	z-index: 1;
}
span {
	display: block;
	height: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: black;
}

input:checked + span {
	translate: 100%;
}
</style>
