<script setup lang="ts">
import { ref, computed } from "vue"
import { useField } from "@gurso/vue-use-form"

const props = defineProps({
	modelValue: {
		type: String,
		default: "",
	},
})
const emit = defineEmits<{
	(e: "update:modelValue", value: string): void
}>()
const model = computed({
	get() {
		return props.modelValue
	},
	set(v: string) {
		emit("update:modelValue", v)
	},
})

const field = ref<HTMLTextAreaElement>()

defineExpose(useField({ field, model }))
</script>

<template><textarea ref="field" v-model="model"><slot /></textarea></template>
