<script setup lang="ts">
import { computed, nextTick, onMounted, onUnmounted, PropType, ref } from "vue"
import { Directions, Exposed, defaultStack, stacks } from "./toast.k"

const props = defineProps({
	margin: {
		type: Number,
		default: 8,
		validator(this: void, n: number) {
			return Number.isFinite(n)
		},
	},
	hooks: {
		type: Array as unknown as PropType<Directions>,
		default: () => ["bottom", "right"],
		validator(this: void, arr: Directions) {
			return (
				arr?.length === 2 &&
				(["left", "right"] as const).some(s => arr.includes(s)) &&
				(["top", "bottom"] as const).some(s => arr.includes(s))
			)
		},
	},
	stack: {
		type: Symbol,
		default: defaultStack,
	},
	duration: {
		type: Number,
		default: 10000000, // TODO Infinity
		validator(this: void, n: number) {
			return n > 0
		},
	},
	appear: Boolean,
})
const emit = defineEmits<{
	(e: "end"): void
}>()

const stackList = ref(new Map<symbol, number>())

const id = Symbol()
const timeout = ref()
const toast = ref<HTMLDivElement>()
const startedAt = ref<number>(0)
const progress = ref(0)
const paused = ref(false)

const left = computed(() => (props.hooks.includes("left") ? props.margin + "px" : undefined))
const right = computed(() => (props.hooks.includes("right") ? props.margin + "px" : undefined))

onMounted(() => {
	if (!stacks.has(props.stack)) stacks.set(props.stack, new Map())
	const sub = stacks.get(props.stack)!
	const key = [...props.hooks].sort().join("")
	if (!sub.has(key)) sub.set(key, new Map())
	stackList.value = sub.get(key)!
	if (props.appear) start()
})
onUnmounted(() => {
	stop()
})

const verticalPosition = computed(() => {
	let r = props.margin
	for (const [k, height] of stackList.value) {
		if (k === id) break
		r += height + props.margin
	}
	return r
})
const top = computed(() => (props.hooks.includes("top") ? verticalPosition.value + "px" : undefined))
const bottom = computed(() => (props.hooks.includes("bottom") ? verticalPosition.value + "px" : undefined))

async function start() {
	paused.value = false
	clearTimeout(timeout.value)
	startedAt.value = Date.now()
	timeout.value = setTimeout(() => {
		stop()
	}, props.duration - progress.value)
	await nextTick()
	stackList.value.set(id, toast.value!.offsetHeight)
}

function pause() {
	clearTimeout(timeout.value)
	if (!paused.value) {
		paused.value = true
		const now = Date.now()
		const lastProgress = now - startedAt.value
		progress.value += lastProgress
	}
	return progress.value
}

function stop() {
	if (stackList.value?.has(id)) {
		stackList.value?.delete(id)
		clearTimeout(timeout.value)
		timeout.value = undefined
		paused.value = false
		progress.value = 0
		emit("end")
	}
}
async function resume() {
	start()
}

function onLeave() {
	stop()
}

defineExpose<Exposed>({ start, pause, stop, resume, paused })
</script>

<template>
	<Transition @leave="onLeave">
		<div v-if="timeout" ref="toast" class="vg-toast"><slot></slot></div>
	</Transition>
</template>

<style scoped>
.v-enter-from,
.v-leave-to {
	opacity: 0;
}
.v-enter-to,
.v-leave-from {
	opacity: 1;
}

.vg-toast {
	transition: all 0.3s linear;
	position: fixed;
	top: v-bind(top);
	bottom: v-bind(bottom);
	left: v-bind(left);
	right: v-bind(right);
}
</style>
