<script setup lang="ts">
import { ref } from "vue"

const arr = ref<unknown[]>([])
</script>

<template>
	<input v-model="arr" type="checkbox" value="test" />
	<input v-model="arr" type="checkbox" value="str" />

	<pre>{{ arr }}</pre>
</template>

<style></style>
